:root {
  --color-main: #5448c8;
  --color-accent: #52c848;
  --color-yellow: #ffd46f;
  --color-error: #ff4d4d;

  --color-secondary-50: #fef2ff;
  --color-secondary-200: #e0d4ff;
  --color-secondary-400: #9a8eff;
  --color-secondary-800: #3B2FAF;

  --color-text-main: #171437;

  --color-white: #fff;
  --color-black: #000;

  --color-modal-bg: rgba(254, 242, 255, 0.6);
  --color-shadow: rgba(0, 0, 0, 0.25);



  --color-gray-50: #f3f3f3;
  --color-gray-100: #DDDDDD;
  --color-gray-200: #c6c6c6;
  --color-gray-300: #b0b0b0;
  --color-gray-400: #9b9b9b;
  --color-gray-500: #868686;
  --color-gray-600: #727272;
  --color-gray-700: #5e5e5e;
  --color-gray-800: #4b4b4b;
  --color-gray-900: #393939;
  --color-gray-source: #141414;

  --color-purple-0: #fcfaff;
  --color-purple-1: #f6f1ff;
  --color-purple-2: #e4d5ff;
  --color-purple-3: #cfbaff;
  --color-purple-4: #b8a1ff;
  --color-purple-5: #a088ff;
  --color-purple-6: #8772f7;
  --color-purple-7: #6f5ee1;
  --color-purple-8: #594bc5;
  --color-purple-9: #463ba3;
  --color-purple-10: #352d7d;


  --color-red-0: #FFFCFF;
  --color-red-1: #ffeeea;
  --color-red-2: #ffcbc2;
  --color-red-3: #ffa99d;
  --color-red-4: #ff877c;
  --color-red-5: #ff655f;
  --color-red-6: #f34647;
  --color-red-7: #db2834;
  --color-red-8: #bd0c25;
  --color-red-9: #9c001b;
  --color-red-10: #780313;

  --color-green-1: #e9f8e4;
  --color-green-2: #bce9af;
  --color-green-3: #8ed97d;
  --color-green-4: #5ec74f;
  --color-green-5: #23b320;
  --color-green-6: #009f00;
  --color-green-7: #008900;
  --color-green-8: #007300;
  --color-green-9: #005d00;
  --color-green-10: #004700;

}
