.MenuThirdLevel {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  color: var(--color-gray-800);
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  &:hover {
    color: var(--color-main);
  }

  &--active {
    color: var(--color-main);
  }
}
